/* ************************************************** */
/* Publications Section Styling */
/* ************************************************** */
#publications {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 15px;
}

.publication-date {
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.publication-venue {
    color: black;
    margin: 2px 0;
    font-size: 0.9rem; /* Match font size */
}

.highlighted {
    color: red;
}

.publications-grid {
    padding: 0; /* Remove padding */
}

.publication-entry {
    background-color: transparent; /* Remove white block effect */
    padding: 0; /* Remove padding for compactness */
    margin-bottom: 0; /* Remove margin between items */
    border-bottom: none; /* Remove the bottom border */
}

.publication-content {
    padding: 0; /* Remove padding */
}

.publication-content h2 {
    font-size: 0.9rem; /* Match font size */
    margin: 0;
    font-weight: normal; /* Optional: remove bold if you want completely uniform text */
}

.publication-content p {
    margin: 4px 0;
    font-size: 0.9rem; /* Match font size */
    color: black;
}

.publication-links {
    font-size: 0.9rem; /* Match font size */
}

.publication-links a {
    margin-right: 1rem;
    font-size: 0.9rem; /* Match font size */
    color: black; /* Ensure the color is black to match other text */
}

@media (max-width: 768px) {
    .publication-entry {
        padding: 10px 0; /* Consistent padding for mobile */
    }
}

.publications-list {
  list-style: none;
  padding: 20px;
  margin: 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem; /* Set base font size for the entire list */
}

.publication-item {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  position: relative;
  padding-left: 15px; /* Make space for the bullet */
}

.bullet {
  position: absolute;
  left: 0;
  font-size: 0.9rem;
}

.publication-item p {
  margin: 4px 0;
  font-size: 0.9rem; /* Match font size */
}
