/* ************************************************** */
/* About Section Styling */
/* ************************************************** */
#about {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 20px 20px;
}

#about h1 {
    font-size: 2.2rem;
    margin-bottom: 15px;
    color: var(--first-color);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    text-align: left;
}

.about-content {
    background: var(--third-color);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.about-content p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--first-color);
    text-align: justify;
    margin: 0;
    max-width: 100%;
    margin-bottom: 0.8em;
}

@media (max-width: 1200px) {
    #about {
        max-width: 95%;
    }
}

@media (max-width: 768px) {
    #about {
        padding: 15px 15px;
    }

    #about h1 {
        font-size: 1.8rem;
    }

    .about-content p {
        font-size: 0.95rem;
        line-height: 1.5;
    }
}

.about-content p a {
    color: inherit;
    text-decoration: underline;
    transition: opacity 0.3s ease;
}

.about-content p a:hover {
    opacity: 0.7;
}

.about-content ul {
    margin-top: 8px;
    padding-left: 18px;
}

.about-content li {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--first-color);
    margin-bottom: 3px;
}

@media (max-width: 768px) {
    .about-content li {
        font-size: 0.95rem;
    }
}
